/* CSS customization for mturiansky.github.io
 * overrides many of bootstrap's default values
 */

body {
    background-color: #000000;
}

.navbar-inverse {
    background-color: #000000;
}

section {
    padding: 40px 0 60px 0;
}

#main {
    /*background-image: url("http://mturiansky.github.io/server.jpg");*/
    background-size: cover;
    height: 100vh;
}

#main-box {
    margin: auto;
    background-color: rgba(0, 85, 170, 0.95);
    color: black;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#about {
    background-color: #445566;
    /*color: #e7e7e7;*/
}

#resume {
    background-color: #0055aa;
}

.res-bor {
    /*should match the color of text*/
    border-left: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

#contact {
    background-color: #bbbbbb;
}

#footer {
    height: 15vh;
    color: #777;
    display: flex;
    align-items: center;
}

#foot-vert-center {
    margin: auto;
}

/* The following is used to override the default
 * coloring of the navbar, requires .navbar-default
 * to be set rather than .navbar-inverse
 */

 /* navbar */
 .navbar-default {
     background-color: #F8F8F8;
     border-color: #E7E7E7;
 }
 /* title */
 .navbar-default .navbar-brand {
     color: #777;
 }
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #5E5E5E;
 }
 /* link */
 .navbar-default .navbar-nav > li > a {
     color: #777;
 }
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #333;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #555;
     background-color: #E7E7E7;
 }
 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
     color: #555;
     background-color: #D5D5D5;
 }
 /* caret */
 .navbar-default .navbar-nav > .dropdown > a .caret {
     border-top-color: #777;
     border-bottom-color: #777;
 }
 .navbar-default .navbar-nav > .dropdown > a:hover .caret,
 .navbar-default .navbar-nav > .dropdown > a:focus .caret {
     border-top-color: #333;
     border-bottom-color: #333;
 }
 .navbar-default .navbar-nav > .open > a .caret,
 .navbar-default .navbar-nav > .open > a:hover .caret,
 .navbar-default .navbar-nav > .open > a:focus .caret {
     border-top-color: #555;
     border-bottom-color: #555;
 }
 /* mobile version */
 .navbar-default .navbar-toggle {
     border-color: #DDD;
 }
 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
     background-color: #DDD;
 }
 .navbar-default .navbar-toggle .icon-bar {
     background-color: #CCC;
 }
 @media (max-width: 767px) {
     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
         color: #777;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
         color: #333;
     }
 }
